{% extends 'public-section/base.html' %}
{% load static %}
{% block title %}Login to your MixSaver account{% endblock %}
{% block description %}Enter your email and password to login to your mixsaver account. Don't share your login details with anyone.{% endblock %}
{% block keywords %}mixsaver login, login mixsaver, login page mixsaver.com{% endblock %}
{% block author %}Urgent Coupon{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block ogtitle %}Login to your Urgent Coupon account{% endblock %}
{% block ogdescription %}Enter your email and password to login to your mixsaver account.{% endblock %}
{% block ogurl %}{{ pageUrl }}{% endblock %}
{% block ogimage %}https://mixsaver.com{% static 'public-section/imagesANDicons/mixsaver-logo-2.png' %}{% endblock %}

{% block twittertitle %}Login - Urgent Coupon{% endblock %}
{% block twitterdescription %}Enter your email and password to login to your mixsaver account.{% endblock %}

{% block twitterimage %}https://mixsaver.com{% static 'public-section/imagesANDicons/mixsaver-logo-2.png' %}{% endblock %}

{% block pageurl %}{{ pageUrl }}{% endblock %}

{% block stylesheet %}

<style>

 body {
          background-color:#F7F7F7;
      }


 .formBackgroundDiv{
     margin-top: 140px;
     margin-bottom: 50px;
     background-color: white;
     border-radius: 10px;
     padding: 25px 70px 25px 70px;
     border: 1px solid gainsboro;
     -webkit-box-shadow: -1px 0px 20px -13px rgba(0,0,0,0.8);
    -moz-box-shadow: -1px 0px 20px -13px rgba(0,0,0,0.8);
    box-shadow: -1px 0px 20px -13px rgba(0,0,0,0.8);

 }

.formBackgroundDiv h3{
    margin-bottom: 0px;
    font-size: 22px;
}

.formTag input{

    height: 40px;
    border: 1px solid gray;
}
.formTag input:focus{
    border: 1px solid indigo;
    transition: 0.5s;
    box-shadow: none;
    outline: none;

}
.formTag button{
    width: 100%;
    height: 40px;
    background-color: indigo;
    border: none;
}
.formTag button:hover{
    border: 1px solid indigo;
    background-color: white;
    color: indigo;
}

.formTag button:focus{
    border: 1px solid indigo;
    background-color: white;
    color: indigo;
    box-shadow: none;
}

.formTag select{
    height: 40px;
    border: 1px solid gray;


}
.formTag select:focus{
    border: 1px solid indigo;
    transition: 0.5s;

}

.formTag p{
    font-size: 20px;
    margin-top: 12px!important;
    font-family: Calibri;
}

.formTag a{
    text-decoration: none;
    color: indigo;
}
.formTag a:hover{
    text-decoration: none;
    color:#000000;
}
.formTag h6{
    font-weight: normal;
}





/*#########################Start of ipad pro screens###########################*/
@media only screen and (max-width:1024px) {

.formBackgroundDiv {
    padding: 20px 50px 20px 50px;
}
.formBackgroundDiv h3{
    margin-bottom: 0px;
    font-size: 24px;
}
}
 /*#########################End of ipad pro screens###########################*/









/*#########################Start of tablets screens###########################*/
@media only screen and (max-width:768px) {

.formBackgroundDiv {
    padding: 20px 30px 20px 30px;
}
.formBackgroundDiv h3{
    margin-bottom: 0px;
    font-size: 24px;
}
}
 /*#########################End of tablets screens###########################*/







 /*#########################Start of mobile screens###########################*/
@media only screen and (max-width:480px) {

.formBackgroundDiv {
    padding: 15px 12px 15px 12px;
    margin-top: 90px;
    margin-bottom: 0px;
}
.formBackgroundDiv h3{
    margin-bottom: 0px;
    font-size: 18px;
}
}
  /*#########################End of mobile screens###########################*/

</style>

{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-sm-10 col-md-10 col-lg-6 m-auto">

 <div class="formBackgroundDiv">

      {% for message in messages %}
         <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}

           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
     {% endfor %}

     <h3>Login</h3>
<form class="formTag" method="post" action="{% url 'LoginView' %}">
    {% csrf_token %}
    <br>
  <div class="form-group">
    <input type="email" name="email" class="form-control"  placeholder="Enter email" required>
  </div>

    <div class="form-group">
    <input type="password" name="password" class="form-control" placeholder="Enter password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
    <p class="text-center">or <a href="{% url 'resest_password' %}">Forgot Password</a></p>
    <hr>
    <h6 class="text-center">Don't have an account? <a href="{% url 'SignUpView' %}" style="font-weight: bold">Sign Up</a></h6>
</form>
</div>




  </div>
 </div>
</div>
{% endblock %}
