{% extends 'public-section/search_results_base.html' %}
{% load static %}
{% load filters %}
{% block title %}Search results{% endblock %}

{% block description %}Search query results mixsaver{% endblock %}
{% block keywords %}Search query results mixsaver{% endblock %}
{% block author %}mixsaver{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}





{% block content %}

<div class="container headerContainer">


      <!--#########################header form and filter start############################-->
    <form method="get" action="{% url 'TodayTopDealsSearch' %}" class="headerForm">

    <div class="input-group mb-3 mobileFormDiv">
        <select name="category" required>
            <option value="all">All</option>
                 {% for category in Categories %}
                     <option value="{{ category.CategoryName }}">{{ category.CategoryName }}</option>
                 {% endfor %}
        </select>
      <input required name="q" value="{{ UserQuery }}" type="text" class="form-control" placeholder="Search for deal" aria-label="Text input with dropdown button">
      <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
    </div>




        <!-- Filter Modal -->
<div style="margin-top: 80px"  class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
        <button style="background: none; color: grey" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="form-check">
              <input style="width: 15px; height: 20px" type="checkbox"  class="form-check-input" id="discount">
              <label style="height: 15px; margin-left: 5px;line-height: 15px; margin-top: 7px!important;" for="discount" class="form-check-label">Discount from 10% upto 95%</label>
          </div><br>


          <div class="form-check">
              <input name="price-low-high" style="width: 15px; height: 20px" type="checkbox" class="form-check-input" id="highToLow">
              <label style="height: 15px; margin-left: 5px;line-height: 15px; margin-top: 7px!important;" for="highToLow" class="form-check-label">Price from high to low</label>
          </div><br>

           <div class="form-check">
               <input name="active-deals" style="width: 15px; height: 20px" type="checkbox" class="form-check-input" id="activeDeal">
               <label style="height: 15px; margin-left: 5px;line-height: 15px; margin-top: 7px!important;" for="activeDeal" class="form-check-label">Active deals</label>
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" style="border-style: none; border-radius: 5px" data-dismiss="modal">Apply</button>
      </div>
    </div>
  </div>
</div>

    </form>



      <div class="filterDiv" data-toggle="modal" data-target="#filterModal">
          <p>Filter <i class="fa fa-filter"></i></p>
      </div>

     <!--#########################header form and filter end############################-->
</div>

<div class="container resultsContainer"><br>
    {% if Count == 0 %}
        <h4>{{ Count }} result's for {{ UserQuery }}.</h4>
    {% else %}
        <h4>{{ Count }} result's found for {{ UserQuery }}.</h4>
    {% endif %}
</div>








<!--######### Mobile form section ###########-->


      <!-- Filter Modal -->
<form method="get" action="{% url 'TodayTopDealsSearch' %}" class="mobileheaderForm">


<div style="margin-top: 80px" class="modal fade" id="mobileFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mobiletitleexampleModalLabel">Search for product</h5>
        <button style="background: none; color: grey" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <span data-toggle="modal" data-target="#mobilefilterModal" class="filterSpan">Filter</span><br>

        <select class="mobileSelect" name="category">
        <option value="all">All</option>
          {% for category in Categories %}
              <option value="{{ category.CategoryName }}">{{ category.CategoryName }}</option>
          {% endfor %}
        </select>
      <input required name="q" value="{{ UserQuery }}" type="text" class="form-control mobileInput"  placeholder="Search for coupon" aria-label="Text input with dropdown button">
      <div class="input-group-append">
          <button class="btn btn-secondary mobileButton" type="submit">Search</button>
      </div>

      </div>
    </div>
  </div>
</div>











        <!-- Filter Modal -->
<div style="margin-top: 80px"  class="modal fade" id="mobilefilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mobileexampleModalLabel">Filter</h5>
        <button style="background: none; color: grey" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-check">
              <input style="width: 15px; height: 20px" type="checkbox" class="form-check-input" id="mobileDiscount">
              <label style="height: 15px; margin-left: 5px;line-height: 15px; margin-top: 7px!important;" for="mobileDiscount" class="form-check-label">Discount from 10% upto 95%</label>
          </div><br>


          <div class="form-check">
              <input name="price-low-high" style="width: 15px; height: 20px" type="checkbox"  class="form-check-input" id="mobilehighToLow">
              <label style="height: 15px; margin-left: 5px;line-height: 15px; margin-top: 7px!important;" for="highToLow" class="form-check-label">Price from high to low</label>
          </div><br>

           <div class="form-check">
               <input name="active-deals" style="width: 15px; height: 20px" type="checkbox" class="form-check-input" id="mobileactiveDeal">
               <label style="height: 15px; margin-left: 5px;line-height: 15px; margin-top: 7px!important;" for="activeDeal" class="form-check-label">Active deals</label>
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="mobileButton" style="border-style: none; border-radius: 5px" data-dismiss="modal">Apply</button>
      </div>
    </div>
  </div>
</div>
    </form>






<div class="container mobileheaderContainer">
    <span class="mobibleSearchSpan" data-toggle="modal" data-target="#mobileFormModal">
        <i class="fa fa-search"></i>&nbsp;Search...</span><br><br>
    {% if Count == 0 %}
        <h4>{{ Count }} result's for {{ UserQuery }}.</h4>
    {% else %}
        <h4>{{ Count }} result's found for {{ UserQuery }}.</h4>
    {% endif %}

</div>
     <!--######################### Mobile form end ############################-->
<br>









<!--#########################Services Displaying Start############################-->


<div class="container">

    {% for data in Data %}
              <a href="{% url 'CouponDetailsViewStatic' data.CouponProductSlug %}" class="serviceLink">
              <div class="bgDiv">
                  <div class="serviceImageDiv" >
                   <span class="discountSpan">{{ data.CouponProductPrice|discount:data.CouponProductDisplayPrice }}% OFF</span>

                      <img class="serviceImage" src="{{ data.CouponProductImage.url }}" alt="Product image not found.">

                  </div>
                  <div class="titleAndBadgesDiv" >
                      <h4>{{ data.CouponProductTitle|truncatechars:70 }}</h4>
                      <div class="badgesDiv">
                          {% if data.CouponProductTotalRating > 100 %}
                              <div class="badge">BESTSELLER</div>
                          {% endif %}
                          <p class="verifiedCoupon"><i class="fa fa-check-circle"></i> Verified Coupon</p>
                      </div>
                      <p class="shortDescrip">
                          {{ data.CouponProductDescription|truncatechars:100 }}
                      </p>
                  </div>
                  <div class="ratingDiv" >
                      <h5 class="realPrice">${{ data.CouponProductPrice }}</h5>
                      <h5 class="secondPrice">${{ data.CouponProductDisplayPrice }}</h5>
                      <div class="ratingDisplayDiv">
                           {% if data.CouponProductRating >= 1.0 and data.CouponProductRating < 1.5 %}
                         <img class="ratingPng" src="{% static 'public-section/imagesANDicons/ratings/1.PNG' %}" alt="Rating image not found.">
                     {% elif data.CouponProductRating >= 1.5 and data.CouponProductRating < 2.0 %}
                         <img class="ratingPng" src="{% static 'public-section/imagesANDicons/ratings/1-5.PNG' %}" alt="Rating image not found.">
                     {% elif data.CouponProductRating >= 2.0 and data.CouponProductRating < 2.5 %}
                         <img class="ratingPng" src="{% static 'public-section/imagesANDicons/ratings/2.PNG' %}" alt="Rating image not found.">
                     {% elif data.CouponProductRating >= 2.5 and data.CouponProductRating < 3.0 %}
                         <img class="ratingPng" src="{% static 'public-section/imagesANDicons/ratings/2-5.PNG' %}" alt="Rating image not found.">
                     {% elif data.CouponProductRating >= 3.0 and data.CouponProductRating < 3.5 %}
                         <img class="ratingPng" src="{% static 'public-section/imagesANDicons/ratings/3.PNG' %}" alt="Rating image not found.">
                     {% elif data.CouponProductRating >= 3.5 and data.CouponProductRating < 4.0 %}
                         <img class="ratingPng" src="{% static 'public-section/imagesANDicons/ratings/3-5.PNG' %}" alt="Rating image not found.">
                     {% elif data.CouponProductRating >= 4.0 and data.CouponProductRating < 4.5 %}
                         <img class="ratingPng" src="{% static 'public-section/imagesANDicons/ratings/4.PNG' %}" alt="Rating image not found.">
                     {% elif data.CouponProductRating >= 4.5 and data.CouponProductRating < 4.5 %}
                         <img class="ratingPng" src="{% static 'public-section/imagesANDicons/ratings/4-5.PNG' %}" alt="Rating image not found.">
                     {% elif data.CouponProductRating >= 4.5 and data.CouponProductRating <= 5.0 %}
                         <img class="ratingPng" src="{% static 'public-section/imagesANDicons/ratings/5.PNG' %}" alt="Rating image not found.">
                     {% endif %}
                       <span style="font-weight: bold;margin-top: 2px">{{ data.CouponProductRating }}</span>
                          <p>({{ data.CouponProductTotalRating }}+ ratings)</p>
                          </div>
                          </div>
                      </div>
                </a>

    {% endfor %}

    </div>








<div class="container">
              <!--Pagination-->


    <div class="paginationDiv">

    <ul class="pagination">
        {% if Data.has_previous %}
            <li class="page-item btn paginationBtn"><a  href="?page={{ Data.previous_page_number }}&category={{ category }}&q={{ query }}&pricefilter={{ pricefilter }}&activefilter={{ activefilter }}"><</a></li>
        {% endif  %}

        {% for num in Data.paginator.page_range %}

            {% if Data.number == num %}
                <li class="page-item"><a class="page-link" href="#" style="font-weight: bold;color: indigo">{{ num }}</a></li>

            {% elif num > Data.number|add:'-3' and num < Data.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}&category={{ category }}&q={{ query }}&pricefilter={{ pricefilter }}&activefilter={{ activefilter }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if Data.has_next %}
            <li class="page-item btn paginationBtn"><a  href="?page={{ Data.next_page_number }}&category={{ category }}&q={{ query }}&pricefilter={{ pricefilter }}&activefilter={{ activefilter }}">></a></li>
        {% endif %}

    </ul>

    </div>
</div>


<!--#########################Services Displaying end############################-->
{% endblock %}

