{% extends 'public-section/base.html' %}
{% block title %}Password Changed - Mixsaver{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}
{% block stylesheet %}



  <style>
body{
  background-color:#F7F7F7;
}

.Content-Container {
     margin-top: 90px;
     background-color: white;
     border-radius: 10px;
     padding: 25px 70px 25px 70px;
     border: 1px solid gainsboro;
     -webkit-box-shadow: -1px 0px 20px -13px rgba(0,0,0,0.8);
    -moz-box-shadow: -1px 0px 20px -13px rgba(0,0,0,0.8);
    box-shadow: -1px 0px 20px -13px rgba(0,0,0,0.8);
    width: 80%;
    margin-left: 10%;
}
.Content-Container h1{
    font-family: Calibri;
    font-size: 30px;
    color: #000;
}

.Content-Container p{
    font-family: Calibri;
    font-size: 20px;
    color: #252626;
    line-height: 20px;

}

.Content-Container a{
    color: indigo;
    text-decoration: none;
    font-weight: bold;
}
.Content-Container a:hover{
    color: green;
}

/* Designing for mobile screens*/
 @media only screen and (max-width: 480px) {
.Content-Container{
    width: 90%;
    margin-left: 5%;
    padding: 15px 15px 10px 15px;
}

.Content-Container p{
    font-family: Calibri;
    font-size: 1.1rem;
    color: darkslategrey;
    line-height: 22px;

}
 }

  </style>
{% endblock %}

{% block content %}

<div class="Content-Container">
    <h1 style="color: green">Password Changed Successfully!</h1>
     <P style="color: green">
         Dear user, your password has been changed
         successfully. <a href="{% url 'Home' %}">Go to home.</a>
     </P><br>
</div>
{% endblock %}










